

.videoFooter{
position: relative;
margin-left: 20px;
bottom: 100px;
}

.videoFooter_text{
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 0;
    color:white;
    margin-bottom: 30px;
    font-size: 12px;
}
.videoFooter__text>h3{
margin-left: 10px;
padding-bottom: 20px;

}
.videoFooter_text > h3 > Button{
    color: white;
    font-weight:600;
    text-transform: inherit;
    font-size: 10px;
}
.videoFooter_ticker > .ticker{
    width: 60%;
    height: fit-content;
    margin-left: 30px;
    margin-bottom: 20px;
}
.videoFooter__ticker, h1{
    padding-top: 7px;
    font-size: 12px;
    color: white;
    left: 30px;
}
.videoFooter__icon{
    position: absolute;
    left: 5px;
    color: white;
}
.videoFooter__actions{
    display: flex;
    position: absolute;
    width: 95%;
    justify-content: space-between;
    color: white;
}

.videoFooter__stat{
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.videoFooter__actionsLeft > .MuiSvgIcon-root{
    padding: 0 10px;
}

.videoFooter__actionsRight{
    display: flex;
    align-items: center;
}